@mixin marginLeft {
  margin-left: 50%;
  transform: translate(-50%);
}

body {
  margin: 0;
  font-family: Lato;
}

html {
  background: #363b3e linear-gradient(to right, #363b3e, #646d73);
}

.container-wrapper {
  padding: 25px;
  justify-content: center;
  display: grid;
  .slider-color-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    @include marginLeft();
    .slider-wrapper {
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: center;
      background: rgba(139, 151, 160, 0.31);
      margin: 20px 0 25px 25px;
      padding: 15px;
      border-radius: 6px;
      //@include marginLeft();
      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: #888383;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        &:hover {
          opacity: 1;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #fff;
          cursor: pointer;
        }
      }
      p {
        margin: 0 0 0 15px;

        color: white;

        min-width: 25px;
        text-align: center;
        font-size: 18px;
      }
    }
    .color-picker-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //@include marginLeft();
      width: 300px;
      background: rgba(139, 151, 160, 0.31);
      border-radius: 6px;
      padding: 15px;
      margin: 20px 0 25px 25px;
      .color-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        .sketch-picker {
          background-color: #363b3e !important;
          position: absolute;
          top: 35px;
          label {
            color: white !important;
          }
        }
        p {
          color: white;
          margin: 0;
          font-size: 18px;
        }
        .color-palette-wrapper {
          border: 1px solid white;
          border-radius: 25px;
          width: 25px;
          height: 25px;
          margin-left: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .color-palette {
            width: 20px;
            height: 20px;
            border-radius: 25px;
          }
        }
      }
    }
  }
  .grid-container {
    display: grid;
    justify-content: center;
    .grid-wrapper {
      width: fit-content;
      .box-wrapper {
        //height: 60px;
        display: table-row;
        .box {
          width: 60px;
          height: 60px;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          border: 1px solid whitesmoke;
          color: white;
          font-size: 18px;
          &.colored-box {
            background: red;
            cursor: pointer;
          }
        }
      }
    }
  }
}